<p style="text-align: center;">
    <h1 style="color: #000;">Output</h1>
</p>
<div class="container">
    <h2 style="padding: 20px; background-color:#00ad45; color:#fff;">{{code}}</h2>
</div>
<div class="copyright">
    <h2 style="color: #000; text-align:center;">&copy; 2019 Triple Forms. All rights reserved | Design by Yokomon
    </h2>
</div>